./vendor
./vendor/
/vendor
/node_modules
Homestead.yaml
Homestead.json
/idea
.env*
/storage/
composer.lock
/public/log/
.buildpath
.project
.settings
.DS_Store
.idea
.idea/

public/log.txt
public/wxpay/pay*
public/wxpay/channel*
public/wxpay/zsyyd*
php
.vscode
